*{
    box-sizing: border-box;
}
body{
    font-family:  Arial, sans-serif;
}
header{
    background-color:#7777 ;
    color:black;
    padding: 2px;
    text-align:center;
    
}
header logo{
    size:10px;
    width: 10px;
}
.navbar{
    position:sticky;
    padding:30px;
    background-color: pink ;
    list-style-type: none;
}
.navbar ul li{
    display: inline;
    margin: 10px;

}
.navbar {
text-align:left;
background-color: rgba(0, 255, 255, 0.159);
}
#search{
 margin-left: 900px;
}

article{
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content:space-between ;


}
.image img{
    float: left;
}
footer{
background-color:#7777;
padding:20px;
text-align:center;
color:white;
}
